name: Custom Action Workflow

on:
  workflow_dispatch:
    inputs:
      who-to-greet:
        description: Who to greet in the log
        required: true
        type: string

permissions:
  actions: read
  contents: read

jobs:
  say-hello:
    name: Say Hello
    runs-on: ubuntu-latest

    steps:
      - name: Test Action
        id: test-action
        uses: a-bobkov/actions-learning-pathway@main
        with:
          who-to-greet: ${{ inputs.who-to-greet }}

      - name: Print Output
        id: output
        run: echo "${{ steps.test-action.outputs.time }}"
